@model PagePostsViewModel;

@{
    ViewBag.Title = "Posts";
}


<div class="container">
    @foreach (var post in Model.Posts)
    {
        <div class="row mt-3">
            <div class="col-sm-12 col-md-12 col-xl-12">
                <a asp-action="View" asp-controller="Post" asp-route-id="@post.Id" class="post-card-link">
                    <div class="card">
                        <div class="card-body">
                            <h1>@post.Title</h1>
                            <p class="card-text">
                                @Html.Raw(post.Content.Substring(0, int.Min(300, post.Content.Length)))
                                <br />
                                <span class="text-muted">See more...</span>
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    }

    <div class="row mt-3">
        @if(Model.Page > 1)
        {
            <a class="text-start" asp-action="Paginate" asp-controller="Post" asp-route-page="@(Model.Page-1)">&lt;&lt;Previous Page</a>
        }
        @if(Model.FinalPage)
        {
            <a class="text-end" asp-action="Paginate" asp-controller="Post" asp-route-page="@(Model.Page+1)">Next Page &gt;&gt;</a>
        }
    </div>
</div>

@section Styles {
<style>
    .post-card-link:link {
        text-decoration: inherit;
        color: inherit;
    }

    .post-card-link:visited {
        text-decoration: inherit;
        color: inherit;
    }
</style>
}